<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sensor_support">

  <xacro:macro name="sensor_support" params="package parent *origin">
    <xacro:property name="prefix" value="sensor_support"/>

    <!-- Include accessories -->
    <xacro:include filename="$(find ${package_name})/urdf/kinect_dk.xacro"/>

    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://${package}/urdf/mesh/sensor_support.stl"/>
        </geometry>
        <material name="">
          <color rgba="0.19 0.2 0.19 1"/>
        </material>
      </visual>
      <!-- <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://${package}/urdf/mesh/sensor_support_collision.stl"/>
        </geometry>
      </collision> -->
    </link>
    <joint name="${prefix}_link_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_link"/>
    </joint>

    <!-- laser link -->
    <link name="os_sensor"/>
    <joint name="lidar_joint" type="fixed">
      <origin xyz="0.0 0.0 0.43722" rpy="0 0 0"/>
      <parent link="${prefix}_link"/>
      <child link="os_sensor"/>
    </joint>

    <!-- imu link -->
    <link name="imu_link"/>
    <joint name="imu_link_joint" type="fixed">
      <origin xyz="0.0 0.0 0.014" rpy="0 0 0"/>
      <parent link="sensor_support_link"/>
      <child link="imu_link"/>
    </joint>

    <!-- main gps link -->
    <link name="main_gps_link"/>
    <joint name="main_gps_link_joint" type="fixed">
      <origin xyz="-0.1817 0.0 0.4235" rpy="0 0 0"/>
      <parent link="sensor_support_link"/>
      <child link="main_gps_link"/>
    </joint>

    <!-- kinect DK -->
    <xacro:kinect_dk parent="sensor_support_link">
      <origin xyz="0.0305 0.0 0.326" rpy="0 0 0"/>
    </xacro:kinect_dk>

  </xacro:macro>

</robot>
